<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Developers - Human Fall Detection /& Alert System</title>
    <link rel="stylesheet" type="text/css" href="../static/css/info.css">
</head>

<body>
    <header>
        <!--<h2 class="logo">Logo</h2>-->
        <h2 class="logo"><img src="static/images/logo.png" alt="Logo"></h2>
        <nav class="navigation">
            
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('info')}}" class="active">Info</a>
            
        </nav>
    </header>
    

    <div class="cus-container">
        <div class="about">
            <h1>About the Project</h1>
            <p>Welcome to our innovative Human Fall Detection and Alert System! our system employs cutting-edge technology
                to detect and respond to human falls promptly. With a focus on safety and well-being, our solution promises
                peace of mind by providing timely alerts and assistance whenever a fall is detected.</p>
            <p>Join us in creating a safer world, where every fall is met with timely support.</p>
        </div>
        <figure class="sir">
            
            <img src="static/images/sir.png" alt="Human">
            <figcaption>Sir Naveed Khan</figcaption>
            <h1>Supervisor</h1>
        </figure>
    </div>
    <div class="developers">
        <div class="about">
            <h1>About the Developers</h1>
            <p>"Crafted by the students of Govt Postgraduate College, our human fall detection and alert system redefines
                safety,
                promising a future where every step counts towards peace of mind".</p>
        </div>
        <div class="images">
        <figure class="daniyal">
            <img src="static/images/Dani.jpeg" alt="Danyal">
            <figcaption>Danyal Asif</figcaption>
        </figure>
        <figure class="daniyal">
            <img src="static/images/meher.jpg" alt="Meher">
            <figcaption>Meher Ali</figcaption>
        </figure>
        </div>
    </div>
    <div class="contact">
        <h2>Contact Information</h2>
        <p>danyalasifsec4@gmail.com</p>
    </div>

        
</body>

</html>